{% load static %}
<!-- jQuery -->
<script src="{% static 'plugins/jQuery/jquery.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/slick/slick.min.js' %}"></script>
<script src="{% static 'plugins/venobox/venobox.min.js' %}"></script>
<script src="{% static 'plugins/aos/aos.js' %}"></script>
<script src="{% static 'plugins/syotimer/jquery.syotimer.js' %}"></script>
<script src="{% static 'plugins/instafeed/instafeed.min.js' %}"></script>
<script src="{% static 'plugins/zoom-master/jquery.zoom.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-touchspin-master/jquery.bootstrap-touchspin.min.js' %}"></script>
<script src="{% static 'plugins/nice-select/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-slider/bootstrap-slider.min.js' %}"></script>
<!-- google map -->
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
<script src="{% static 'plugins/google-map/gmap.js' %}"></script>
<!-- Main Script -->
<script src="{% static 'js/script.js' %}"></script>